In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr

In [32]:
ações = ['VALE5.SA', 'USIM5.SA', 'PETR3.SA', 'CSNA3.SA', 'BBAS3.SA', 'CMIG4.SA', 'CESP6.SA']
carteira = pd.DataFrame()
for i in ações:
    carteira[i] = pdr.DataReader(i, data_source='yahoo', start='2008-03-01', end='2008-03-29')['Adj Close']

In [33]:
carteira.head(30)

,VALE5.SA,USIM5.SA,PETR3.SA,CSNA3.SA,BBAS3.SA,CMIG4.SA,CESP6.SA
Date,,,,,,,
2008-03-03,32.546402,29.232544,38.189804,17.785135,13.232900,5.102390,27.280962
2008-03-04,31.936638,29.558931,36.673103,17.711224,12.947309,5.155606,27.048950
2008-03-05,32.513615,29.374454,37.723125,17.683851,13.204341,5.155606,27.162119
2008-03-06,31.818626,29.008335,37.093109,17.629099,12.947309,5.102390,26.981043
2008-03-07,31.438351,28.466265,36.587528,17.423796,12.756907,4.776927,26.850889
2008-03-10,30.199177,27.033014,36.004204,16.643623,12.614103,4.668939,26.256720
2008-03-11,31.792406,28.494637,37.412003,17.029602,12.656940,4.766277,25.351316
2008-03-12,31.667831,29.090635,37.295334,17.273235,12.266618,4.714565,24.785439
2008-03-13,31.831743,29.402836,36.758659,17.861782,12.280898,4.714565,24.615673
2008-03-14,31.871084,29.402836,36.552544,18.340834,12.614103,4.714565,24.898613
2008-03-17,31.871084,28.608166,34.611938,17.902847,11.995294,4.627879,24.394987
2008-03-18,31.274439,28.608166,35.004719,18.346310,12.257100,4.627879,25.464493
2008-03-19,29.019011,28.945892,32.589664,17.245861,12.019097,4.630921,24.049801
2008-03-20,28.979666,28.409500,32.375778,16.695635,11.852493,4.562493,24.559086
2008-03-24,30.356529,27.955397,32.931889,16.818819,12.138096,4.653744,21.950392
2008-03-25,31.195761,29.048067,34.833614,17.043289,12.376100,4.591383,17.321514
2008-03-26,32.618519,28.792643,35.195290,17.177425,12.138096,4.410401,17.264925
2008-03-27,32.782433,28.526878,34.359150,17.037813,11.733501,4.652222,17.627083
2008-03-28,32.913555,28.501177,34.277489,17.202063,11.148013,4.671983,16.410448

In [34]:
retorno = (carteira/carteira.shift(1))-1
retorno

,VALE5.SA,USIM5.SA,PETR3.SA,CSNA3.SA,BBAS3.SA,CMIG4.SA,CESP6.SA
Date,,,,,,,
2008-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-03-04,-0.018735,0.011165,-0.039715,-0.004156,-0.021582,0.010430,-0.008505
2008-03-05,0.018066,-0.006241,0.028632,-0.001545,0.019852,0.000000,0.004184
2008-03-06,-0.021375,-0.012464,-0.016701,-0.003096,-0.019466,-0.010322,-0.006666
2008-03-07,-0.011951,-0.018687,-0.013630,-0.011646,-0.014706,-0.063787,-0.004824
2008-03-10,-0.039416,-0.050349,-0.015943,-0.044776,-0.011194,-0.022606,-0.022128
2008-03-11,0.052757,0.054068,0.039101,0.023191,0.003396,0.020848,-0.034483
2008-03-12,-0.003918,0.020916,-0.003118,0.014306,-0.030839,-0.010850,-0.022321
2008-03-13,0.005176,0.010732,-0.014390,0.034073,0.001164,0.000000,-0.006849
2008-03-14,0.001236,0.000000,-0.005607,0.026820,0.027132,0.000000,0.011494
2008-03-17,0.000000,-0.027027,-0.053091,-0.023880,-0.049057,-0.018387,-0.020227
2008-03-18,-0.018721,0.000000,0.011348,0.024770,0.021826,0.000000,0.043841
2008-03-19,-0.072117,0.011805,-0.068992,-0.059982,-0.019418,0.000657,-0.055555
2008-03-20,-0.001356,-0.018531,-0.006563,-0.031905,-0.013862,-0.014776,0.021176
2008-03-24,0.047511,-0.015984,0.017177,0.007378,0.024096,0.020000,-0.106221
2008-03-25,0.027646,0.039086,0.057747,0.013346,0.019608,-0.013400,-0.210879
2008-03-26,0.045607,-0.008793,0.010383,0.007870,-0.019231,-0.039418,-0.003267
2008-03-27,0.005025,-0.009230,-0.023757,-0.008128,-0.033333,0.054830,0.020977
2008-03-28,0.004000,-0.000901,-0.002377,0.009640,-0.049899,0.004248,-0.069021

In [35]:
peso = np.array([0.373, 0.0775, 0.1860, 0.0113, 0.0328, 0.2458, 0.0736])
peso.sum()

1.0

In [36]:
retorno_mensal = retorno.mean() * 20
retorno_mensal

VALE5.SA    0.021595
USIM5.SA   -0.022705
PETR3.SA   -0.110552
CSNA3.SA   -0.030799
BBAS3.SA   -0.183900
CMIG4.SA   -0.091703
CESP6.SA   -0.521417
dtype: float64

In [37]:
np.dot(retorno_mensal, peso) * 100

-8.156435908991131

In [4]:
Petro = pd.DataFrame()
Petro = pdr.DataReader('PETR3.SA', data_source='yahoo', start='2008-01-01', end='2008-01-31')['Adj Close']

In [7]:
Petro.head(30)

Date
2008-01-02    40.565971
2008-01-03    39.978745
2008-01-04    37.606453
2008-01-07    36.315308
2008-01-08    38.500916
2008-01-09    39.154270
2008-01-10    38.345360
2008-01-11    37.723125
2008-01-14    37.528671
2008-01-15    35.700859
2008-01-16    34.145256
2008-01-17    32.321331
2008-01-18    32.823017
2008-01-21    30.334063
2008-01-22    33.546352
2008-01-23    32.900780
2008-01-24    35.467514
2008-01-28    37.769783
2008-01-29    37.723125
2008-01-30    38.675915
2008-01-31    37.489784
Name: Adj Close, dtype: float64